
Styles-Example-Root-Element {
	display: block;
	padding: 20px;
    counter-reset: LogLine 0
    content: "Die Bibel / Kapitel 1"
	}

Styles-Example-Root-Element:before {
	display: block;
	padding: 20px;
    font: bold 22px/26px "courier new", courier, "free monospaced", "bitstream vera sans mono", monospace;
	text-align: center;
	content: "Source file name : " attr(SRC);
}

Entry {
	display: block;
	}

Entry:before {
    content: "[" counter(LogLine) "]  Verse # " attr(Vers);
    counter-increment: LogLine 1;
    font: normal 12px/16px "courier new", courier, "free monospaced", "bitstream vera sans mono", monospace;
}

Entry:after {
	display: block;
	background-color: #eee;
	margin: 10px; padding: 10px;
	white-space: pre;
    font: bold 12px/16px "courier new", courier, "free monospaced", "bitstream vera sans mono", monospace;
	content: attr(Text) "\A";
}
